rofi.background: #151718
rofi.foreground: #d6d6d6
rofi.hlbg: #41535B
rofi.hlfg: #ffffff
rofi.bc: #151718
rofi.eh: 2
rofi.width: 100
rofi.padding: 480
rofi.lines: 5
rofi.line-margin: 5
rofi.font: System San Francisco Display 18
rofi.opacity: 80